<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>

<div>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
        <a class="navbar-brand" href="/"><i class="fas fa-home"></i></a>
        <div class="navbar-nav mr-auto">
            <div class="nav-item">
                <a href="/coffe" class="nav-link"><i class="fas fa-list"></i></a>
            </div>
        </div>
    </nav>
    <div>
        <div class="container">
            <br />
            <div class="row">
                <div class="col-8">
                    <h2 class="text-info"> Coffe List</h2>
                </div>
                <div class="dropdown col-2">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Select category
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" >
                        <a th:each ="coffesList : ${coffesList}">
                            <a class="dropdown-item" th:href="@{/coffe/{category}(category=${coffesList})}" th:text="${coffesList}"/>
                        </a>
                    </div>
                </div>
                <div class="col-2 text-right">
                    <a href="/coffe/add" class="btn btn-info"><i class="fas fa-plus"></i> Add new coffe</a>
                </div>

                <table class="table table-striped">
                    <tr class="thead-dark">
                        <th scope="col">ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Price</th>
                        <th scope="col">Category</th>
                        <th scope="col">Number In Stock</th>
                        <th scope="col">Location</th>
                        <th scope="col"></th>
                    </tr>
                    <tr th:each ="coffe : ${coffes}">
                        <td class="text-right" th:text="${coffe.coffeId}"></td>
                        <td th:text="${coffe.name}"></td>
                        <td th:text="${coffe.price}"></td>
                        <td th:text="${coffe.category}"></td>
                        <td th:text="${coffe.quantity}"></td>
                        <td th:text="${coffe.shelfNumber}"></td>
                        <td>
                            <a class="btn btn-primary"  th:href="@{/coffe/wz/{id}(id=${coffe.coffeId})}"><i>WZ</i></a>
                            <a class="btn btn-primary"  th:href="@{/coffe/edit/{id}(id=${coffe.coffeId})}"><i class="fas fa-edit"></i></a>
                            <a class="btn btn-danger"   th:href="@{/coffe/delete/{id}(id=${coffe.coffeId})}"><i class="fas fa-trash"></i></a>

                        </td>
                    </tr>
                </table>
            </div>

        </div>
    </div>
</div>
<br />
<br />

</body>

<footer class="page-footer text-white-50 fixed-bottom" style="background-color: #343a40;">
    <div class="footer-copyright text-center py-3">
        &copy; 2019 - Coffe
    </div>
</footer>

</html>
